[icons]
icons = "awesome4"

[theme.overrides]
separator = "/"

[[block]]
block = "custom"
# command = "task current_tasks limit:1 | awk 'NR==4 {for (i=2; i<=NF; i++) printf $i (i<NF ? \" \" : \"\"); print \"\"}'"
command = "current-taskd get"
format = " $text "
interval = 10

[[block]]
block = "cpu"
info_cpu = 20
warning_cpu = 50
critical_cpu = 80
interval = 1
# [[block.click]]
# button = "left"


[[block]]
block = "memory"
warning_mem = 70
critical_mem = 90
format = " $icon $mem_used_percents.eng(w:2) "

[[block]]
block = "nvidia_gpu"
interval = 1
format = " $icon $utilization "

[[block]]
block = "disk_space"
info_type = "available"
alert_unit = "GB"
alert = 1
warning = 3
format = " $icon $available "
[[block.click]]
button = "right"
update = true


[[block]]
block = "net"
format = " $icon {$ip} "
interval = 5
[[block.click]]
button = "left"

[[block]]
block = "time"
interval = 1
format = " $timestamp.datetime(f:'%a %d.%m.%y (%H:%M)') "

[[block]]
block = "time"
interval = 1
timezone = "Europe/Moscow"
[block.format]
full = " $timestamp.datetime(f:'%R') "
short = " $timestamp.datetime(f:'%a') "


[[block]]
block = "sound"
[[block.click]]
button = "middle"
cmd = "pavucontrol"


[[block]]
block = "battery"
interval = 10
format = " $percentage $icon "
not_charging_format = " $icon $percentage ($time_remaining)"

[[block]]
block = "keyboard_layout"
driver = "sway"
sway_kb_identifier = "1:1:AT_Translated_Set_2_keyboard"
[block.mappings]
"English (US)" = "US"
"Russian (N/A)" = "RU"
